/* Application-wide Styles*/

//Theme setup

@import '~@angular/material/theming';
@import 'variables.scss';

// always include only once per project
@include mat-core();

@import 'theme.scss';
@include angular-material-theme($gamify-code-theme);

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {

  // Create theme specfic styles
  .primary {
    color: mat-color($primary);
  }
  .accent {
    color: mat-color($accent);
  }
  .warn {
    color: mat-color($warn);
  }


  .primary-lighter {
    color: mat-color($primary-lighter);
  }
  .accent-lighter {
    color: mat-color($accent-lighter);
  }
  .warn-lighter {
    color: mat-color($warn-lighter);
  }


  .primary-darker {
    color: mat-color($primary-darker);
  }
  .accent-darker {
    color: mat-color($accent-darker);
  }
  .warn-darker {
    color: mat-color($warn-darker);
  }


  .primaryBG {
    background-color: mat-color($primary);
  }
  .accentBG {
    background-color: mat-color($accent);
  }
  .warnBG {
    background-color: mat-color($warn);
  }


  .primaryBG-lighter {
    background-color: mat-color($primary-lighter);
  }
  .accentBG-lighter {
    background-color: mat-color($accent-lighter);
  }
  .warnBG-lighter {
    background-color: mat-color($warn-lighter);
  }


  .primaryBG-darker {
    background-color: mat-color($primary-darker);
  }
  .accentBG-darker {
    background-color: mat-color($accent-darker);
  }
  .warnBG-darker {
    background-color: mat-color($warn-darker);
  }
}

//Styles definition

@include theme-color-grabber($gamify-code-theme);

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body{
  margin: 0px;
}

body, input[text], button{
  color: #888;
  font-family: Cambria, Georgia;
}

.hr-theme-slash-2 {
  display: flex;

  .hr-line {
    width: 30%;
    position: relative;
    margin: 5px;
    border-bottom: 1px solid #000;
    padding-right: 100%;
  }

}


/* Everywhere Else*/

* {
  font-family: Arial, Helvetica, sans-serif;
}
